.header{
    background-color: red
}

textarea {
    height: 550px;
    display: absolute;
    bottom: 20px;
}

button{
    width: 60px;
    font-size: 12px;
    margin: 0px;
}

table.table.table-condensed.table-hover.test tr:nth-child(even){
    background-color: rgb(250, 250, 250);
}

table.table.table-condensed.table-hover.test tr:nth-child(odd){
    background-color: rgb(235, 235, 235);
}

.tablehead{
    background-color: rgb(210, 210, 210);
}
