

<div class="row" >
  <div class="col-sm-9" style="vertical-align:bottom; ">
        <nav class="nav nav-tabs bottom block">
                <a class="nav-link {{contractbuilder}}" routerLink="/">ContractBuilder</a>
                <a class="nav-link {{negotiate}}" routerLink="/negotiate">Negotiate</a>
                <a class="nav-link {{golive}}" routerLink="/golive">GoLive</a>
                <a class="nav-link {{propose}}" routerLink="/propose">Propose</a>
                <a class="nav-link {{export}}" routerLink="/export">Export</a>
                <a class="nav-link {{alldoc}}" routerLink="/alldocuments">Lookup Tables</a>
        </nav>
    <!--<h3>{{pageName}}</h3>-->
  </div>
  
  <div id="btnLogout" class="col-sm-3" style="text-align-last: right;">
    <table width="100%">
      <tr><td ><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;<strong>{{partyName}}</strong></td></tr>
      <tr><td align="right" style="vertical-align: top"><span (click)="exit()" style="cursor: pointer; color: blue; font-size: 12px"><i class="fa fa-sign-out" style="font-size: 12px; color: blue" aria-hidden="true"></i>Logout</span></td></tr>
    </table>
  </div>

</div>


