table, textarea, input {
  width: 100%;
}

input {
  margin-bottom: -2px;
  margin-left: 0mm;
}

p {
  color: black;
}

.hash__input {
  width: 60%;
}

.hash__details-datetime,
.hash__details-infor {
  display: flex;
  width: 100%;
  
}
.input {
  margin-bottom: 10px;
}

.hash__details-party, .hash__details-date {
  margin-right: 20px;
  flex-basis: 30%;
}

.hash__details-hash, .hash__details-time {
  flex-basis: 70%;
  padding: 0px;
}

message {
  align-self: initial;
}

.tick:before {
  symbols: 2714;
  color: green;
  border-spacing: 0ch;
}

.cross:before {
  symbols: 2716;
  color: red;
  
}

.content-pane {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgb(245, 245, 245);
  border-spacing: 10px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 0px;
  border-top-width: 5px;
  border-bottom-style: double;
  border-color: rgb(182, 182, 182);
}

/* Style the tab */
.tab {
  overflow: hidden;
  
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: 1px solid #ccc;
  float: left;
  border-bottom: none;
  border-top: none;
  border-left: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  /*background-color: #ccc;*/
  font-weight: bold;
}

/* Style the tab content */
.tabcontent {
  display: none;
  /*padding: 6px 12px;*/
  /*border: 1px solid #ccc;*/
  border-top: none;
}

.defaultTab {
  display: block;
}

label {
  border: 1px solid #ccc;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  display: block;
}
